.nav{
    background-color: white;
    border: 1px solid rgb(192, 184, 184);
}

.nav_container{
    /* container */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.anchor{
    display: flex;
    align-items: center;
}
.logo_image{
    /* mr-3 sm:h-9 */
    object-fit: cover;
    height: 30px;
}
.logo_heading{
    /*  dark:text-white */
    align-self: center;
    font-size: x-large;
    font-weight: bold;
    white-space: nowrap;
}
.ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-top: 5px;
    font-size: medium;
    border: 0;
    background-color: white;

}
.li_anchor{
    display: block;
    padding: 5px 10px;
    color: gray;

     /* md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 
    md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent */
}

.hide_show_div{
    width: auto;
    display: block;
}
.navbar_default_btn{
    display: none;
}

.mobile_view_btn{
    display: none;
}
.burger_btn{
    display: none;
}
@media only screen and (max-width: 720px) {
    .nav{
        padding: 5px 10px;
    }
    .sr_only{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
    .ul{
        flex-direction: column;
        /* background-color: grey; */
        border-radius: 5px;
        border: 1px solid gray;
    }
    .li_anchor{
        display: block;/* rounded hover:bg-gray-100*/
        padding: 5px 10px;
        color: gray;
        border-radius: 10px;
    }
    .li_anchor:hover{
        background-color: gray;
    }
    .mobile_view_btn{
        display: block;
    }
    .hide_show_div{
        width: 100%;
    }
    .logo_image{
        /* mr-3 */
        margin-right: 3px;
        /* height: 36px; */
    }
    .navbar_default_btn{
        display: inline-flex;/*hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 */    
        align-items: center;
        padding: 5px;
        margin-left: 12px;
        font-size: small;
        color: gray;
        border-radius: 20px;
    }
    .burger_btn{
        display: block;
        width: 30px;
        color: gray;
        transition: all;
        transition-duration: 200ms;
        background-color: transparent;
        border-radius: 10px;
        padding: 2px;
    }
    .burger_btn:hover{
        background-color: gray;
        color: white;
    }
    .burger_btn:focus{
        outline: none;/*focus:ring-2 focus:ring-gray-900 focus:ring-offset-2" */
    }
}